*{
	font-family: monospace;
	color: rgba(255,255,255,1);
}
body{
	background: linear-gradient(92deg,rgba(0,0,0,1),rgba(18,95,123,1));
/*	padding: 15px;	*/
}
div{
	background: rgba(0,0,0,0.75);
	border-color: rgba(0,0,0,1);
	border-style: solid;
	border-width: 10px;
	padding: 5px;
	margin: 20px;
}
div:hover{
	border-color: rgba(0,0,16,1);
}
h1,h2,h3,h4{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 40px;
}
h2{
	font-size: 32px;
}
h3{
	font-size: 24px;
}
h4{
	font-size: 16px;
}
a,button,p{
	font-size: 14px;
}
button{
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgba(0,0,0,0);
	color: rgba(128,128,255,1);
	padding: 2px;
	transition-duration: 0.3s;
}
button:hover{
	border: 1px solid rgba(255,255,255,0.75);
	background-color: rgba(127,127,127,0.7);
	color: rgba(255,255,255,1);
}
a{
	text-decoration: none;
	color: rgba(128,128,255,1);
}
a:hover{
	filter: blur(1px);
}
